/*Animated Box By Shodipo Ayomide {Developerayo}*/
body {
    background-color: skyblue;
    color: black;
    padding: 45px;
}
.box {
    display: block;
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 150px);
    left: 400px;
    transition: transform 900ms ease-in-out;
}

.box:hover {
    transform: translate(200px, 50px) rotate(-1000deg);
    
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
/*Animated Box By Shodipo Ayomide {Developerayo}*/
